<% include ../partials/head %>
  <div class="header">
    <a href="/"><img src="got.svg" alt="" height="30"></a>
  </div>
  <div class="container">
    <div class="content-wrapper">
      <div class="sharer">
        <img src="fb.svg" alt="" class="sharer-image" height="30" width="30" data-id="fb">
        <img src="twitter.svg" alt="" class="sharer-image" height="30" width="30" data-id="twitter">
      </div>
      <div class="photos">
        <div class="user-photo inline-block">
          <img src = "<%= response[0].owner.avatar_url %>" height="200">
          <div class="artist-name"><%= user.name %></div>
        </div>
        <div class="inline-block meta-text">is</div>
        <div class="artist-photo inline-block">
          <img src = "<%=  metadata.artist.id  %>.jpg " height="200">
          <div class="artist-name"><%= metadata.artist.character %></div>
        </div>
      </div>
      <div class="desc"><%= metadata.artist.desc %></div>
      <div class="meta">
        <div class="meta-info inline-block">
          <div class="meta-item">
            <div class="meta-title">TOTAL STARS</div>
            <div class="meta-value numscroller" data-max='<%= metadata.stargazers_count %>' data-min='0' data-delay='1' data-increment='<%= metadata.stargazers_count / 10 > 0 ? metadata.stargazers_count / 10 : 1 %>'><%= metadata.stargazers_count %></div>
          </div>
        </div>
        <div class="meta-info inline-block">
          <div class="meta-item">
            <div class="meta-title">TOTAL FOLLOWERS</div>
            <div class="meta-value numscroller" data-max='<%= user.followers %>' data-min='0' data-delay='1' data-increment='<%= user.followers / 10 > 0 ? user.followers / 10 : 1  %>'><%= user.followers %></div>
          </div>
        </div>
        <div class="meta-info inline-block">
          <div class="meta-item">
            <div class="meta-title">TOTAL REPOS (PUBLIC)</div>
            <div class="meta-value numscroller" data-max='<%= user.public_repos %>' data-min='0' data-delay='1' data-increment='<%= user.public_repos / 10 > 0 ? user.public_repos / 10 : 1  %>'><%= user.public_repos %></div>
          </div>
        </div>
        <div class="meta-info inline-block">
          <div class="meta-item">
            <div class="meta-title">FAVORITE LANGUAGE</div>
            <div class="meta-value"><%= metadata.mainlanguage %></div>
          </div>
        </div>
      </div>
      <div class="panel-body" id="postResult"></div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    $('.sharer-image').click(function(e) {
      e.preventDefault()
      var e = $(e.target).data('id');
      var url = window.location.href;
      if(e === 'fb') {
        window.open('https://www.facebook.com/sharer/sharer.php?u='+url)
      } else {
        window.open('https://twitter.com/intent/tweet?url='+url)
      }
    })
  </script>
  <script src="js/counter.js"></script>
  <% include ../partials/footer %>
